/* reset */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
img { vertical-align: top; object-fit: cover; }

body { font-family: 'SUIT'; font-size: 14px; color: #666; }
.wrap { width: 980px; margin: 0 auto; position: relative; }
.wide { width: 1200px; margin: 0 auto; }
.wrap:after, ul:after, .cl:after { content:""; clear: both; display: block; }
.fl { display: flex; align-items: center; justify-content: center; }
.fl:after { display: none; }
.blind { position: absolute; left: -9999px; width: 0; height: 0; font-size: 0; overflow: hidden; }

/* header & footer */
/* header { position: absolute; background: #fff; left: calc(50% - 600px); } */
header { position: absolute; width: 100%; z-index: 99; }
header .wide { background: #fff; height: 80px; }
header h1 { padding-top: 22px; }
header .gnb { position: absolute; right: 0; top: 30px; }
header .gnb li { float: left; padding: 0 35px; font-size: 16px; font-weight: 600; color: #000; }

footer { color:#000; }
footer ul li { float:left; line-height:60px; margin-right: 30px; font-size:16px; }
footer ul li.select { font-weight: 700; }
footer ul + a { width: 260px; background: #8292a2; color:#fff; position: absolute; right:0; top:0; line-height:60px; text-align: center; font-size:16px; }
footer div.wrap > a i { font-style:normal; margin-left: 70px; }

footer .wide { border-top:1px solid #ddd; }
footer address { padding:16px 0; font-size:14px; line-height:1.6; font-style:normal; }


/* index */
#main { background: url(../images/visual.jpg) no-repeat center; height: 600px; color: #000; font-size: 44px; }
#main h3 { padding-top: 220px; padding-left: 30px; font-size: inherit; font-weight: 600; line-height: 1.2; }
#main strong { font-weight: 900; margin-top: 20px; padding-left: 30px; display: block; }

#cont { padding: 50px 0 30px; }
#cont .bnr div { width: 484px; height: 484px; float: left; }

#cont .bnr a h3 { font-size: 20px; font-weight: 700; color: #000; }
#cont .bnr a p { margin-top: 10px; font-weight: bold; }
#cont .bnr a img { position: absolute; left: 30px; bottom: 60px; }

#cont .bnr .part1 a { float: left; width: 236px; height: 236px; border: 1px solid #ddd; box-sizing: border-box; /* float,position 먹이면 블록이 됨 */ background: #fff; padding: 30px 0 0 30px; position: relative; }

#cont .bnr .part1 a:nth-child(1) { background: #fff url(../images/pos.jpg) no-repeat right bottom; margin-right: 12px; margin-bottom: 12px; }
#cont .bnr .part1 a:nth-child(2) { background: #fff url(../images/pad.jpg) no-repeat right bottom; }
#cont .bnr .part1 a:nth-child(3) { background: #fff url(../images/com.jpg) no-repeat right bottom; width: 100%; }

#cont .bnr .part2 { float: right; background: url(../images/tab.jpg) no-repeat center/cover; }
#cont .bnr .part2 a { width: 236px; height: 236px; border: 1px solid #687aa2; background: #687aa2; color: #fff; padding: 30px 0 0 30px; box-sizing: border-box; position: relative; display: block; }
#cont .bnr .part2 a h3 { color: #fff; }

/* layout 공통레이아웃 */
.sv { height: 350px; }
.sv p { padding: 190px 0 0 40px; font-size: 22px; font-weight: 700; color: #000; }

#sv1 { background: url(../images/subV_type1.jpg) no-repeat center/cover; }

.pad { padding: 60px 0 120px; }
.pad nav { width: 240px; float: left; }
.pad nav h3 { color: #4064b0; font-size: 34px; font-weight: 400; padding-left: 40px; padding-bottom: 30px; }
.pad nav ul { border-top: 2px solid #000; }
.pad nav ul li { border-bottom: 1px dashed #ddd; line-height: 50px; }
.pad nav ul li a { padding-left: 40px; font-size: 16px; display: block; }
.pad nav ul li.select a { background: #4064b0; color: #fff; }

.pad nav + div /* nav의 바로 다음 동생인 div */ { width: 700px; float: right; }
.pad .title h3 { font-size: 34px; font-weight: 400; padding-bottom: 30px; border-bottom: 2px solid #000; color: 000; }
.pad .title p { position: absolute; right: 0; top: 13px; }

/* card */
#card .cont1 { height: 190px; background: url(../images/pos1.jpg) no-repeat right center; justify-content: flex-start; }
#card .cont1 dl dt { font-size: 20px; font-weight: 700; color: #000; margin-bottom: 10px; }
#card .cont1 dl dd { line-height: 1.6; }

#card .cont2 { margin-top: 30px; }
#card .cont2 h3 { font-size: 20px; font-weight: 700; color: #000; }
#card .cont2 > img { margin-top: 20px; border-bottom: 2px dotted #ddd; padding-bottom: 20px; margin-bottom: 20px; }
#card .cont2 article { float: left; width: 340px; border-bottom: 1px solid #ddd; height: 160px; } /* width:calc((100% - 20px) / 2); */
#card .cont2 article:last-child { margin-left: 20px; } /* article:first-of-type { margin-right: 20px; */
#card .cont2 article h4 { font-size: 16px; color: #000; margin: 14px 0; }
#card .cont2 article p { line-height: 1.4; }

#card .cont3 { margin-top: 50px; }
#card .cont3 h3 { font-size: 20px; font-weight: 700; color: #000; margin-bottom: 20px; }
#card .cont3 h3:before { content: ""; width: 50px; display: block; border-bottom: 3px solid #000; border-right: 3px solid #fff; margin-bottom: 20px; }

#card .cont3 ul li { float: left; width: 340px; margin: 0 20px 20px 0; box-sizing: border-box; background: #f9fafc; border: 1px solid #ddd; padding: 30px 0 0 80px; height: 120px; }
#card .cont3 ul li:nth-child(2n) { margin-right: 0; } /* 홀수는 nth-child(2n+1) */
#card .cont3 ul li:nth-child(1) { background: #f9fafc url(../images/bt1.jpg) no-repeat; }
#card .cont3 ul li:nth-child(2) { background: #f9fafc url(../images/bt2.jpg) no-repeat; }
#card .cont3 ul li:nth-child(3) { background: #f9fafc url(../images/bt3.jpg) no-repeat; height: 140px; }
#card .cont3 ul li:nth-child(4) { background: #f9fafc url(../images/bt4.jpg) no-repeat; height: 140px; }

#card .cont3 ul li dl dt { font-size: 16px; font-weight: bold; color: #505c76; margin-bottom: 6px; }